.header a{
    text-decoration: none;
    color: var(--white);
}

header{
    background-color: var(--gren);
    display: flex;
    flex-wrap: wrap;
    justify-content:
    space-between;
    align-items: center;
    padding: 20px;
    
}
.menu{
    display: flex;
}
.menu li{
 list-style: none;
 margin-left: 10px;
}